In [7]:
import pandas as pd

In [14]:
data1=pd.read_csv("csv1.csv")
data2=pd.read_csv("csv2.csv")

In [17]:
print(data1)
print(data2)

    roll  marks
0      1     90
1      2     89
2      3     87
3      4     86
4      5     78
5      6     76
6      7     67
7      8     89
8      9     78
9     10     67
10    11     65
11    12     56
12    13     56
13    14     55
14    15     50
15    16     67
    roll name
0      1    A
1      2    B
2      3    A
3      4    B
4      5    A
5      6    B
6      7    A
7      8    B
8      9    A
9     10    B
10    11    A
11    12    B
12    13    A
13    14    B
14    15    A
15    16    B

In [20]:
print(data1.tail(10))
print(data2.tail(10))

    roll  marks
6      7     67
7      8     89
8      9     78
9     10     67
10    11     65
11    12     56
12    13     56
13    14     55
14    15     50
15    16     67
    roll name
6      7    A
7      8    B
8      9    A
9     10    B
10    11    A
11    12    B
12    13    A
13    14    B
14    15    A
15    16    B

In [27]:
def join_csv(data1,data2):
    result = pd.merge(data1, data2)
    return result
join_csv(data1,data2)

    roll  marks name
0      1     90    A
1      2     89    B
2      3     87    A
3      4     86    B
4      5     78    A
5      6     76    B
6      7     67    A
7      8     89    B
8      9     78    A
9     10     67    B
10    11     65    A
11    12     56    B
12    13     56    A
13    14     55    B
14    15     50    A
15    16     67    B

In [88]:
data3=join_csv(data1,data2)
def select_op(roll:int):
    l=[]
    for i in range(data3.shape[0]):
        if data3.iloc[i]['roll']==roll:
            l.append(data3.iloc[i])
    return l
def select_op_name(name:str):
    l=[]
    for i in range(data3.shape[0]):
        if data3.iloc[i]['name']==name:
            l.append(data3.iloc[i])
    return l
def select_op_marks(marks:int):
    l=[]
    for i in range(data3.shape[0]):
        if data3.iloc[i]['marks']==marks:
            l.append(data3.iloc[i])
    return l
x=select_op_marks(67)
df=pd.DataFrame(x)
# print(df)
# print(data3.iloc[1])
df.to_csv("csv3.csv",index=False)

In [91]:
chunks=[]
data3.to_csv("csv3.csv",index=False)
for chunk in pd.read_csv("csv3.csv",chunksize=2):
    chunks.append(chunk)
df=pd.concat(chunks)
print(df)
df.to_csv("chunk.csv",index=False)

    roll  marks name
0      1     90    A
1      2     89    B
2      3     87    A
3      4     86    B
4      5     78    A
5      6     76    B
6      7     67    A
7      8     89    B
8      9     78    A
9     10     67    B
10    11     65    A
11    12     56    B
12    13     56    A
13    14     55    B
14    15     50    A
15    16     67    B

# Threading

In [103]:
import threading
import time

# Define a simple function that will run in a thread
def print_numbers():
    for i in range(5):
        time.sleep(1)  # Simulate some work
        print(f"Thread 1: {i}")

def print_letters():
    for letter in 'ABCDE':
        time.sleep(1)
        print(f"Thread 2: {letter}")

# Create thread objects
thread1 = threading.Thread(target=print_numbers)
thread2 = threading.Thread(target=print_letters)

# Start the threads
thread2.start()
thread1.start()

# Wait for both threads to finish
thread1.join()
thread2.join()

print("Both threads have finished.")

Thread 2: A
Thread 1: 0
Thread 2: BThread 1: 1

Thread 1: 2
Thread 2: C
Thread 1: 3Thread 2: D

Thread 2: E
Thread 1: 4
Both threads have finished.