In [1]:
n=int(input("Enter Number of Elements: "))

In [2]:
i=0
sum=0

In [3]:
while(i<n):
    z=int(input("Enter the number: "))
    sum=sum+z*(i+1)
    i=i+1

In [4]:
print("Sum of the numbers = ",sum)

Sum of the numbers =  251

In [5]:
ab="ab"
x=ab
ab="cd"
print(x)

ab

In [8]:
x=10
y=x
x=x+3
print(y)

10

In [9]:
pds_tup=('a','b')
print(pds_tup)

('a', 'b')

In [23]:
l=list('10',)
print(type(l))
x=bool(l)
x

<class 'list'>

True

In [18]:
x=int(3)
print(type(x))
x=3.14
print(type(x))
x="3.14"
print(type(x))
x=float("3.14")
print(type(x))

x=int("ab")
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>

ValueError: invalid literal for int() with base 10: 'ab'

In [15]:
x=int(3.14)
print(x)
print(type(x))


x=int('7e',16)
print(x)
print(type(x))

x=int("3.14")
print(type(x))

3
<class 'int'>
126
<class 'int'>

ValueError: invalid literal for int() with base 10: '3.14'

In [17]:
x=int(3.14)
print(x)
print(type(x))

3
<class 'int'>

In [20]:
x=bool(4%2)
print(x)

False

In [25]:
x=10
if bool(x%2) :
    print("odd")
    print(x+1)
else:
    print("even")
    print(x)

even
10

In [28]:
x=complex(2,3)
print(x)

(2+3j)

In [43]:
l1=["Pradeep",20,"John",21,3.14,True]
print(l1)
print(type(l1))

['Pradeep', 20, 'John', 21, 3.14, True]
<class 'list'>

In [45]:
#fstring
print(f'type: {type(l1)} ,Contents: {l1}')

type: <class 'list'> ,Contents: ['Pradeep', 20, 'John', 21, 3.14, True]

In [46]:
l=list('cat')
print(l)

['c', 'a', 't']

In [49]:
l1=bool(list())
l1

False

In [51]:
if bool(list()):
    print("Not empty")
else:
    print("Empty")

Empty

In [53]:
bool([])

False

In [86]:
print(f'The output of bool of empty seq. : {bool([])}')

The output of bool of empty seq. : False

In [57]:
print(f'The output of bool of empty seq. : {bool(list())}')

The output of bool of empty seq. : False

In [59]:
print(f'{list()==[]}')

True

In [67]:
l1=[1,3,2,4,5]
l2=list(l1[2:4])
print(l2)

[2, 4]

In [71]:
l1[1]="100"
print(l1)

[1, '100', 2, 4, 5]

In [72]:
t1=tuple()#empty tuple
print(t1)

()

In [79]:
t1=tuple((3,))#single elem tuple
print(t1)
print(type(t1))

(3,)
<class 'tuple'>

In [83]:
t1=(1,2,3)
print(t1)
print(type(t1))
l1=list(t1)
print(l1)
print(type(l1))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [84]:
l1[1]=100
print(l1)
t1[1]=100
print(t1)

[1, 100, 3]

TypeError: 'tuple' object does not support item assignment

In [88]:
print('can\'t say \n what hes saying')

can't say
 what hes saying

In [94]:
print('line1 \n line2 \t line3')

line1
 line2 	 line3

In [102]:
s1= """
    hello this is  a comment 
    this is my second line
    """
print(s1)

s2=" hey \n how r u ?"
print(s2)

    hello this is  a comment
    this is my second line

 hey
 how r u ?

In [105]:
print(1+3.0)
print(type(1+3.0))

4.0
<class 'float'>

In [106]:
2<'ab'

TypeError: '<' not supported between instances of 'int' and 'str'

In [112]:
t1=(2,3)
t2=(2,4)
t3=(2,3,1)

t1<t3

True

In [113]:
"sandeep"<"sandip"

True

In [120]:
l1=[2,3,4]
b=2==2 or  l1[4]==2 
print(b)

True

In [121]:
2==3 and l1[4]==2

False

In [139]:
a='abc'
b='abc'
c=a
print(a is not c)

False

In [147]:
t1=(2,3)
t2=(2,3)
t3=t1
print(t1 is t2)
print(id(t1))
print(id(t2))

False
140453573126016
140453069595904

In [138]:
t1=[2,3]
t2=[2,3]
t3=t1
print(t1 is t2)

False

In [145]:
print(id(t1))
print(id(t2))

140453555358272
140453555371648

In [146]:
t1=(1,0)
t2=(0,1)
t2<t1

True