In [5]:
ab="ab"
x=ab
ab="cd"
print(x)

ab

In [8]:
x=10
y=x
x=x+3
print(y)

10

In [9]:
pds_tup=('a','b')
print(pds_tup)

('a', 'b')

In [23]:
l=list('10',)
print(type(l))
x=bool(l)
x

<class 'list'>

True

In [18]:
x=int(3)
print(type(x))
x=3.14
print(type(x))
x="3.14"
print(type(x))
x=float("3.14")
print(type(x))

x=int("ab")
print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'float'>

ValueError: invalid literal for int() with base 10: 'ab'

In [15]:
x=int(3.14)
print(x)
print(type(x))


x=int('7e',16)
print(x)
print(type(x))

x=int("3.14")
print(type(x))

3
<class 'int'>
126
<class 'int'>

ValueError: invalid literal for int() with base 10: '3.14'

In [17]:
x=int(3.14)
print(x)
print(type(x))

3
<class 'int'>

In [20]:
x=bool(4%2)
print(x)

False

In [25]:
x=10
if bool(x%2) :
    print("odd")
    print(x+1)
else:
    print("even")
    print(x)

even
10

In [28]:
x=complex(2,3)
print(x)

(2+3j)

In [43]:
l1=["Pradeep",20,"John",21,3.14,True]
print(l1)
print(type(l1))

['Pradeep', 20, 'John', 21, 3.14, True]
<class 'list'>

In [45]:
#fstring
print(f'type: {type(l1)} ,Contents: {l1}')

type: <class 'list'> ,Contents: ['Pradeep', 20, 'John', 21, 3.14, True]

In [46]:
l=list('cat')
print(l)

['c', 'a', 't']

In [49]:
l1=bool(list())
l1

False

In [51]:
if bool(list()):
    print("Not empty")
else:
    print("Empty")

Empty

In [53]:
bool([])

False

In [86]:
print(f'The output of bool of empty seq. : {bool([])}')

The output of bool of empty seq. : False

In [57]:
print(f'The output of bool of empty seq. : {bool(list())}')

The output of bool of empty seq. : False

In [59]:
print(f'{list()==[]}')

True

In [67]:
l1=[1,3,2,4,5]
l2=list(l1[2:4])
print(l2)

[2, 4]

In [71]:
l1[1]="100"
print(l1)

[1, '100', 2, 4, 5]

In [72]:
t1=tuple()#empty tuple
print(t1)

()

In [79]:
t1=tuple((3,))#single elem tuple
print(t1)
print(type(t1))

(3,)
<class 'tuple'>

In [83]:
t1=(1,2,3)
print(t1)
print(type(t1))
l1=list(t1)
print(l1)
print(type(l1))

(1, 2, 3)
<class 'tuple'>
[1, 2, 3]
<class 'list'>

In [84]:
l1[1]=100
print(l1)
t1[1]=100
print(t1)

[1, 100, 3]

TypeError: 'tuple' object does not support item assignment

In [88]:
print('can\'t say \n what hes saying')

can't say
 what hes saying

In [94]:
print('line1 \n line2 \t line3')

line1
 line2 	 line3

In [102]:
s1= """
    hello this is  a comment 
    this is my second line
    """
print(s1)

s2=" hey \n how r u ?"
print(s2)

    hello this is  a comment
    this is my second line

 hey
 how r u ?

In [105]:
print(1+3.0)
print(type(1+3.0))

4.0
<class 'float'>

In [106]:
2<'ab'

TypeError: '<' not supported between instances of 'int' and 'str'

In [112]:
t1=(2,3)
t2=(2,4)
t3=(2,3,1)

t1<t3

True

In [113]:
"sandeep"<"sandip"

True

In [22]:
l1=[2,3,4]
b=2==2 or  l1[4]==2 
print(b)

True

In [23]:
l1[4]==2 or 2==2

IndexError: list index out of range

In [121]:
2==3 and l1[4]==2

False

In [139]:
a='abc'
b='abc'
c=a
print(a is not c)

False

In [147]:
t1=(2,3)
t2=(2,3)
t3=t1
print(t1 is t2)
print(id(t1))
print(id(t2))

False
140453573126016
140453069595904

In [138]:
t1=[2,3]
t2=[2,3]
t3=t1
print(t1 is t2)

False

In [145]:
print(id(t1))
print(id(t2))

140453555358272
140453555371648

In [48]:
t1=(1,0)
t2=(0,1)
t2<t1

True

In [ ]:
#################################Class 2#############################################

In [3]:
print("c")

c

In [91]:
l1=[1,2,3,4,5,6,7,8,9,10,11]
l1[-5:-10:-1]
l1[-1]
l1[-5:-10:-1]

[7, 6, 5, 4, 3]

In [93]:
l1=['a','b','c','d','e','f','g','h']
l1[-2:-6:-1]

['g', 'f', 'e', 'd']

In [69]:
l1[-1::-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b', 'a']

In [70]:
l1[2:]

['c', 'd', 'e', 'f', 'g', 'h']

In [71]:
l1[7:3:-1]

['h', 'g', 'f', 'e']

In [72]:
l1[-1:-8:-1]

['h', 'g', 'f', 'e', 'd', 'c', 'b']

In [73]:
li=list([1,])
li*7

[1, 1, 1, 1, 1, 1, 1]

In [74]:
print('--'*20)

----------------------------------------

In [75]:
print('::'*-20)

In [76]:
x='a'
x in l1

True

In [94]:
l1[1:3]='call'*3
l1

['a',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'd',
 'e',
 'f',
 'g',
 'h']

In [81]:
'call'*3

'callcallcall'

In [84]:
['call']*3

['call', 'call', 'call']

In [87]:
l1

['a',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'e',
 'f',
 'g',
 'h']

In [95]:
del l1[4]
l1

['a',
 'c',
 'a',
 'l',
 'c',
 'a',
 'l',
 'l',
 'c',
 'a',
 'l',
 'l',
 'd',
 'e',
 'f',
 'g',
 'h']

In [97]:
#set

In [99]:
s1=set([2,2,4,4,1,3,99,7])
s1

{1, 2, 3, 4, 7, 99}

In [101]:
len(s1)

6

In [103]:
l1=[2,7,3]
l2=[7,2,3]
l1==l2

False

In [115]:
s1={1,2,3}
s2={4,5,6}
3 in s1

True

In [117]:
s1&s2

set()

In [118]:
d1={
    'a':123,
    'b':345,
    'c':678,
    'd':901
}
d1

{'a': 123, 'b': 345, 'c': 678, 'd': 901}

In [136]:
d1['a']

SyntaxError: invalid syntax (2345274086.py, line 2)

In [122]:
d1['a']=12
d1

{'a': 12, 'b': 345, 'c': 678, 'd': 901}

In [132]:
d2={ #tuple can be used as a key but list or set cant 
    (1,2):'abcd',
    (3,4):'kliw',
    (3,0):'hdch'
}
d2

{(1, 2): 'abcd', (3, 4): 'kliw', (3, 0): 'hdch'}

In [134]:
d2[(1,2)

SyntaxError: incomplete input (2263773509.py, line 1)

In [1]:
d2.(1,2)

SyntaxError: invalid syntax (2117290193.py, line 1)

In [2]:
######################Class 3###########################3

In [6]:
'strings' in 'in'

False

In [8]:
set('strings')

{'g', 'i', 'n', 'r', 's', 't'}

In [1]:
len(set('strings'))

6

In [4]:
'hello'

'hello'

In [7]:
#Control flow

In [17]:
a=''
if  6+3<10:
    print("A")
elif not a:
    print("C")
else:
    print("B")

A

In [25]:
l1=[]
if l1:
    print("X")
elif not l1:
    print("X")
else:
    print("C")

X

In [34]:
#grade of a student on basis of marks
a=56
if a>90:
    print("A+")
elif a>80:
    print("A")
elif a>70:
    print("B")
elif a>60:
    print("C")
elif a>=50:
    print("D")
else:
    print("Fail")

D

In [59]:
l3=[]
# l3=[4,2,3,6,1]
j=0
while l3[j]<5  and j<len(l3): #short circuit
    print(l3[j])
    j+=1

IndexError: list index out of range

In [65]:
l3=[4,2,3,2,1]
j=0
while l3[j]<5 and j<len(l3) :
    print(l3[j])
    j+=1

4
2
3
2
1

IndexError: list index out of range

In [69]:
l1=[2,4,'a',9,10]
for e in l1:
    print(e)

2
4
a
9
10

In [71]:
l3=[2,3,4,5]
for e in l3:
    if e%2==0:
        print(e)
    else:
        e+=1
        print(e)

2
4
4
6

In [84]:
for i in range(len(l3)):
    print(i)

0
1
2
3

In [82]:
range(4)

range(0, 4)

In [85]:
list(range(4))

[0, 1, 2, 3]

In [88]:
#print a new list with even*2 and odd*3
l1=[10,9,11,12,13]
l2=[]
for e in l1:
    if e%2==0:
        e**=2
        l2.append(e)
    else:
        e**=3
        l2.append(e)
print(l2)

[100, 729, 1331, 144, 2197]

In [95]:
l1=[10,9,11,12,13]
l2=[]
i=0
while i<len(l1):
    if l1[i]%2==0:
        l1[i]**=2
        l2.append(l1[i])
    else:
        l1[i]**=3
        l2.append(l1[i])
    i+=1
print(l2)

[100, 729, 1331, 144, 2197]

In [97]:
#Tuple

In [101]:
tu=tuple((1,2,3,4))
list(enumerate(tu)) #generates list of tuple with index and element

[(0, 1), (1, 2), (2, 3), (3, 4)]

In [3]:
t1=(1,2,3)
a,b,c=t1
a

a,b=1,2
a

1

In [108]:
t1=1,2,3 #creates tuple
t1

(1, 2, 3)

In [5]:
for i,e in enumerate(l2):
    if i%2==0:
        print(e)

NameError: name 'l2' is not defined

In [116]:
tup=4,1,2
tup
tup2=(1,2,4)
sorted(tup)==sorted(tup2)

True

In [3]:
l1=[1,2]
l1[1]==0 or set([2,3])=={2,3}

True

In [6]:
0 and {2,3}

0

In [8]:
################################### Class-4 ########################################